---
layout: default
---
{% assign info = site.data.cv %}
<div class="cv">
	<img src="{{ info.general.photo }}">
	<h2>General info</h2>
	<p>
		<b>Name: </b>{{ info.general.name }} <br>
		<b>Born at: </b>{{ info.general.born-at | date_to_long_string }} <br>
		<b>Citizienship: </b>{{ info.general.citizienship }} <br>
		<b>Profession: </b>{{ info.general.profession }} <br>
		<b>Site: </b><a href="{{ info.general.site }}">{{ info.general.site }}</a> <br>
		<b>Email: </b>{{ info.general.email }} <br>
	</p>
	<h2>Career</h2>
	<p>
		{% for career in info.career %}
			<b>Position: </b>{{ career.position }} <br>
			<b>Company: </b>{{ career.company }} <br>
			<b>Location: </b>{{ career.location }} <br>
			<b>Dates: </b>{{ career.date_from | date_to_long_string }} - {{ career.date_to | date_to_long_string }} <br>
			<br>
		{% endfor %}
	</p>
	<h2>Education</h2>
	<p>
		{% for schools in info.education %}
			<b>School: </b>{{ schools.school }} <br>
			<b>Focus: </b>{{ schools.focus }} <br>
			<b>Location: </b>{{ schools.location }} <br>
			<b>Dates: </b>{{ schools.date_from | date_to_long_string }} - {{ career.date_to | date_to_long_string }} <br>
			<br>
		{% endfor %}
	</p>
	<h2>Skills</h2>
		<h3> Programming skills</h3>
			<p>
				<b>Languages: </b>	
				{% for ps in info.skills.programming %}
					{{ ps.language }},
				{% endfor %}
			</p>
		<h3>Other skills</h3>
			<p>
				{% for others in info.skills.other %}
					{{ others.o }} <br>
				{% endfor %}
			</p>
	<h2>Achievements</h2>
		<p>
			{% for achievement in info.achievement %}
				<b>Field: </b>{{ achievement.field }} <br>
				<b>Competition: </b>{{ achievement.competition }} <br>
				<b>Placement: </b>{{ achievement.a }} <br>
			{% endfor %}
		</p>
	<h2>Hobbies</h2>
		<p>
			{% for hb in info.hobbies %}
				{{ hb.h }} <br>
			{% endfor %}
		</p>
</div>
